@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*
:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}
*/

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  outline: none;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}


.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.8rem;
  font-size: 1.7rem;
  color: #333;
  border: 0.2rem solid #333;
  background: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn:hover {
  background: #333;
  color: #fff;
}

/*HEADER*/


.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: ;
  background-color: transparent;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: #333;
  font-weight: bolder;
  margin-right: auto;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  font-size: 1.7rem;
  color: #666;
  padding: 2rem;
  display: block;
}

.header .navbar ul li a:hover {
  background: #eee;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #fff;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  margin-left: 2rem;
}

.header .icons div:hover,
.header .icons a:hover {
  color: #e84393;
}

.header .search-form {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  border-top: 0.2rem solid #333;
  background: #fff;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  color: #666;
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #e84393;
}

#menu-btn {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}


/*HOME*/


.home {
  padding: 0;
  position: relative;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  padding: 2rem 7%;
  background-size: cover !important;
  background-position: cover !important;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.home .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slide .content span {
  color: #333;
  display: block;
  font-size: 2rem;
  -webkit-animation: fadeIn 0.4s linear 0.2s backwards;
  animation: fadeIn 0.4s linear 0.2s backwards;
}

.home .slide .content h3 {
  color: #333;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 6rem;
  -webkit-animation: fadeIn 0.4s linear 0.4s backwards;
  animation: fadeIn 0.4s linear 0.4s backwards;
}

.home .slide .content .btn {
  -webkit-animation: fadeIn 0.4s linear 0.6s backwards;
  animation: fadeIn 0.4s linear 0.6s backwards;
}

.home #next-slide,
.home #prev-slide {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  line-height: 5.5rem;
  font-size: 4rem;
  color: #333;
  border: 0.2rem solid #333;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.home #next-slide:hover,
.home #prev-slide:hover {
  background: #333;
  color: #fff;
}

.home #prev-slide {
  right: 9rem;
}

/************ MEDIA QUERIES **************/

@media screen and (max-width: 1599px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 767px) {


/************** FOOTER **************/
